
.myHead {
  font-family: "Lobster", cursive;
  font-size: 5em;
  color: White;
  background-color: rgba(10, 130, 255, 0.85);
  padding-top: 2%;
  margin-top: 0;
  text-align: center;
  padding-bottom: 2%;
}
body {
  background-color: rgb(42, 42, 42);

}
@media and screen (max-width: 768px) {
  .myWell {
    margin: 0;
  }
  .myWell2 {
    margin: 0;
  }
}
.myWell {
  margin-left: 10%;
}
.myWell2 {
  margin-left: 5%;
}
.myWell2 > h2 {
  font-family: "Lobster", fantasy;
}
.panelHead {
  font-family: "Lobster", fantasy;
  font-size: 2em;
  cursor: pointer;
}
.plus {
  float: right;
}
