
.myHead {
  font-family: "Lobster", cursive;
  font-size: 5em;
  color: White;
  background-color: rgba(10, 130, 255, 0.85);
  padding-top: 2%;
  margin-top: 0;
  text-align: center;
  padding-bottom: 2%;
}
body {
  background-color: rgb(42, 42, 42);

}
@media only screen and (max-width: 768px), only screen and (max-width:1000px) {
    .myWell {
      width: 100%;
    }
    .myWell2 {
      width: 100%;
    }
}

.myWell {
  float: right;
}
.myWell2 {
  float:left
}
.myWell2 > h2 {
  font-family: "Lobster", fantasy;
}
.panelHead {
  font-family: "Lobster", fantasy;
  font-size: 2em;
  cursor: pointer;
}
.plus {
  float: right;
}
.minus {
  float: right;
}
