
.myHead {
  font-family: "Lobster", cursive;
  font-size: 5em;
  color: White;
  background-color: rgba(10, 130, 255, 0.85);
  padding-top: 2%;
  margin-top: 0;
  text-align: center;
  padding-bottom: 2%;
}
body {
  background-color: rgb(42, 42, 42);

}
@media only screen and (max-width: 768px), only screen and (max-width:1000px) {
    .myWell {
      width: 100%;
    }
    .myWell2 {
      width: 100%;
    }
}


.panelHead {
  font-family: "Lobster", fantasy;
  font-size: 2em;
  cursor: pointer;
}
.add-delete {
  float: right;
}
.addThings {
	background-color: #0082FF;
	color: white;
	border-radius: 50%;
	position: fixed;
	display: block;
	height: 50px;
	width: 50px;
	border-width: 0;
	border-color: #0082FF;
	bottom: 2%;
	right: 2%;
	font-size: 2em;
	padding: 0 1% 0 1%;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	text-align: center;
	padding-top: auto;
	padding-bottom: auto;
}
.addThings:focus {
		outline: 0;
}
.fixed-action-btn {
		position: fixed;
		bottom: 1%;
		right: 1%;
}
#title, #ingredients, #image {
		width: 60%;
		font-size: 2em;
		height: 20%;
		border-radius: 10px;
}
